.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Распределение элементов по ширине контейнера */
  align-items: center;
  background-color: #f1f4f9;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: black;
  border-radius: 4px;
}

.link:hover {
  background-color: white;
}

h1,
h2 {
  margin: 0px;
}